<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Kvant</title>
<meta name="enot" content="5031659515416OiaTM9WFTYDmSrCvbTRHwGTT2HoxtyS2" />
	
<link rel="stylesheet" href="../static/css/IndexStyle.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="shortcut icon" href="../static/images/favicon.png" type="image/png">
</head>

<body class="gradient">
<header>
  <div class="logo" style="margin: 20px"> <img src="../static/images/logo.png" width="50px" alt="logo"> </div>
  <div class="title-head"><a href="#" style="text-decoration: none; color: black"><em>ShotKvant</em></a></div>
  <ul class="download-img">
    <a href="#download">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="40">
      <path d="M4.97 11.03a.75.75 0 111.06-1.06L11 14.94V2.75a.75.75 0 011.5 0v12.19l4.97-4.97a.75.75 0 111.06 1.06l-6.25 6.25a.75.75 0 01-1.06 0l-6.25-6.25zm-.22 9.47a.75.75 0 000 1.5h14.5a.75.75 0 000-1.5H4.75z"> </path>
    </svg>
    </a>
  </ul>
</header>
	
	
<div class="hello-img" align="center"> <img src="../static/images/hello-img.png" alt="hello-img"> </div>
	
	
<div class="artice">
  <div class="img-article "> <img src="../static/images/FaceRender.png" alt="What is shk?"> </div>
  <div class="discription" >
    <h1><b>Что такоe <em>ShotKvant?</em></b></h1>
    <p style="font-size: 25px">Это компюьтерная игра для ребят из Кванториума, разработанная проектной группой направления VR/AR<br>
    Если вы устали от работы над прекрасным и интересным проектом, вы можете расслабиться в этой игре и поиграть с друзьями.
	</p>
  </div>
</div>
	
	
<div id="carouselExampleIndicators" class="carousel slide carusel" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active"> <img src="../static/images/carusel1.png" class="d-block w-100" alt="..."> </div>
    <div class="carousel-item"> <img src="../static/images/carusel2.png" class="d-block w-100" alt="..."> </div>
    <div class="carousel-item"> <img src="../static/images/carusel3.png" class="d-block w-100" alt="..."> </div>
    <div class="carousel-item"> <img src="../static/images/carusel4.png" class="d-block w-100" alt="..."> </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span> </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button>
</div>
	
	
<div class="download-game rounded counter" align="center" id="download">
  <h1>Скачай игру здесь!</h1>
  <p>Количество людей, которые уже скачали: {{ count }}</p>
  <form method="post">
    <a href="donation" class="float-button" id="btn">DOWNLOAD</a>
  </form>
</div>
	
	

<footer>
  <hr style="height: 2px;color: white;">
  <div class="foots">
    <ul class="text-column" style="margin-left: 250px"> Разработчики: <br>
      	<li>Тимур Фархутдинов - главный программист, 3D художник</li>
      	<li>Гребнев Павел - программист</li>
     	<li>Москалёв Сергей - 3D художник</li>
      <li>Немировский Даниил - 3D художник</li>
      <li>Глущук Мария - художник</li> </ul>
    <p class="text-column">Связь: erdfyhjgftgjmi@gmail.com</p>
  </div>
</footer>
	
	
<script src="../static/scripts/script.js"></script>	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	
	
</body>
</html>
